body{
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
}
#menu{
    background-color: rgb(14, 2, 32);
    margin-top: 0px;
    width: auto;
    margin-bottom: 0px;
    padding: 18px;
    text-align: center;
}
#menu li{
    display: inline-block;
    padding: 16px;
    color:white;
    cursor: pointer;
}
.footer{
    height:auto;
    min-height: 400px;
    width:80%;
    justify-content: center;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: crimson;
    margin-bottom: 4%;
    color:#ffffff;
    text-align: center;
    font-size:17px;
}
#spa{
    
    height: auto;
    width:50%;
    line-height: 1.3em;
    text-align: justify;
    font-size: 18px;
    margin-top:12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:25%;
    display: block;
    left:20px auto;
    align-self: center;
    position: relative;
}
#about{
    height: 150px;
    width:500px;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    top:7px;
}
a{
    text-decoration: none;
    color:inherit;
    outline-style: none;
}
    #menu li:hover{
    border-bottom:1px solid green;
}
    a #menu li:visited{
        background-color:red;
    }
#trigger{
    margin-top:5px;
    margin-right: 5px;
    float:right;
    padding:7px;
    color:white;
    background-color: crimson;
    border:0px;
    visibility: hidden;
}
@media screen and (max-width:580px){
        body{
            background-color: inherit;
            margin:0px;
        }
        .con{
            height: 50px;
            width:100%;
            position: relative;
            bottom:12px;
            left:0;
            z-index: 100;
            background-color: rgb(14, 2, 32); ;
        }
        #menu{
            height: auto;
            color:red;
            width: 27px;
            position: relative;
            top:12px;
            left:12px;
            background-image: url("images.png");
            background-position: center;
            background-repeat: no-repeat;
            visibility: visible;
        }
        #menu:hover li{
            display: block;
            visibility: visible;
            width:80%;
            padding: 20px;
        }
        #menu:hover {
            width:40%;
            background-color:rgba(0, 0, 0, 0.5);
            background-image: none;

        }
        #menu li{
            display: none;
            visibility:hidden;
        }
        #menu li:hover{
            background-color: #ffffff; 
            color:coral;
        }
        #trigger{
            visibility: visible;
        }
        a{
            outline:none;
        }
}