body{
    background-color:#ffffff;
    margin:0px;
}
#menu{
    background-color: rgb(14, 2, 32);
    margin-top: 0px;
    width: auto;
    margin-bottom: 0px;
    padding: 18px;
    text-align: center;
}
#menu li{
    display: inline-block;
    padding: 16px;
    color:white;
    cursor: pointer;
}
#menu li:hover{
    border-bottom: 2px;
    border-bottom-color: red;
    border-bottom-width: 5px;
}
.top{
    min-height: 200px;
    max-height: 500px;
    width:100%;
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("head.jpg");
    background-size: cover;
    text-align: center;
    background-position: center;
    filter: opacity(2px);
}
.text{
    text-align: center;
    color: #ffffff;
    width: 50%;
    height: auto;
    border-radius: 5px;
    position: relative;
    top:20%;
    left: 24%;
    margin-top:0px;
    padding: 30px;
    font-size:1.8em;
    
}
.music_di{
    height: 500px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}
.music_di1{
    height: 500px;
    width: 100%;
    color: #ffffff;
    background-color: crimson;
    text-align: center;
}

h1{
    margin-top:0px;
    position: relative;
    top: 20%;
    font-weight: bolder;
    font-size: 2.5em;
}
.tet{
    text-align: justify;
    width: 80%;
    max-width: 500px;
    position: relative;
    top:20%;
    margin:29px auto;
    
    transition: 0.5s;
    transition-property: all;
    animation: step-end;
    transition-duration: 4s;
    transition-delay: 2s;
}
.tet span{
    height: 200px;
    overflow-wrap: break-word;
    font-size: 1.3em;
}
.tet1{
    
    text-align: justify;
    width: 80%;
    max-width: 500px;
    position: relative;
    top:10%;
    margin:29px auto;
}
.tet1 span{
    height: 200px;
    overflow-wrap: break-word;
    font-size: 1.3em;
}
.hd{
    margin-top:0px;
    position: relative;
    top: 10%;
    font-weight: bolder;
    font-size: 2.5em;
}
.explore{
    margin-top:auto;
    padding:15px;
    border-radius: 3px;
    width:50%;
    border:0px;
    margin-left:25%;
    font-size:1.0em;
    color:crimson;
    background-color: #ffffff;
}
.download{
    margin-top:auto;
    padding:15px;
    border-radius: 3px;
    width:50%;
    border:0px;
    outline-style:none;
    margin-left:25%;
    font-size:1.0em;
    color:white;
    background-color: crimson;
}
.explore:hover{
    border-color: 1px solid green;
    padding: 18px;
    transition:linear 0.2s;
}
.download:hover{
    border-color: 1px solid green;
    padding: 18px;
    transition:linear 0.2s;
}

.contact{
    height: auto;
    width:100%;
    background-color:coral;
}
.login_head{
    margin-left:32px;
    margin-top:0px;
    font-size: 1.9rem;
    margin-bottom: 20px;
    
}
.form{
    height: 640px;
    box-sizing: content-box;
    min-width: 50%;    
    background-color: #ffffff;
    border-radius: 3px;
    border:0px;
    color:rgb(44, 44, 44);
    display: inline-block;
    margin-top:60px;
    margin-right: 2%;
    margin-left: 5%;
    margin-bottom: 30px;
}
.firstname,.email,.lastname,.phonenumber{
    max-width:350px;
    min-width: 90%;
    height: 40px;
    border-radius: 3px;
    border:1px solid coral;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    font-size: 20px;
    font-weight: 500;
    margin-left:12px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
.comment{
    max-width:350px;
    min-width: 80%;
    border-radius: 3px;
    border:1px solid coral;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;

}
.post{
    padding: 15px;
    font-size:20px;
    color:white;
    background-color: coral;
    border-radius: 3px;
    border:0px;
    width:30%;
    margin-left:35%;
}
.post:hover{
    background-color: green;
}
.footer{
    height:auto;
    width:100%;
    display: inline-block;
    justify-content: center;
    margin-top: 0px;
    background-color: #ffffff;
    color:#000;
    padding-bottom:10px;
    padding-top:10px;
    text-align: center;
    font-size:17px;
}
#spa{
    
    height: auto;
    width:50%;
    line-height: 1.2em;
    text-align: justify;
    font-size: 18px;
    margin-top:12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:25%;
    display: block;
    left:20px auto;
    align-self: center;
    position: relative;
}
#about{
    height: 150px;
    width:500px;
    margin-top:0px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color:inherit;
    outline-style: none;
}
a:hover{
    color:coral;
    border-width:5px;
}
a:active{
    color:red;
}
@media screen and (max-width:580px){
    body{
        background-color: inherit;
        margin:0px;
    }
    .con{
        height: 50px;
        width:100%;
        position: relative;
        bottom:12px;
        left:0;
        z-index: 100;
        background-color: rgb(14, 2, 32); ;
    }
    #menu{
        height: auto;
        color:red;
        width: 27px;
        position: relative;
        top:12px;
        left:12px;
        background-image: url("home.png");
        background-position: center;
        background-repeat: no-repeat;
        visibility: visible;
    }
    #menu:hover li{
        display: block;
        visibility: visible;
        width:80%;
        padding: 20px;
    }
    #menu:hover {
        width:40%;
        background-color:rgba(0, 0, 0, 0.5);
        background-image: none;

    }
    #menu li{
        display: none;
        visibility:hidden;
    }
    #menu li:hover{
        background-color: #ffffff; 
        color:coral;
    }
    #trigger{
        visibility: visible;
    }
    a{
        outline:none;
    }
    .form{
        width:80%;
    }
}
@media screen and (max-width:800px){
    .form{
        width:70%;
    }
}
#menu li:hover{
    border-bottom:1px solid green;
}
