body{
    background-color:#eeeeee;
    margin:0px;
}
ul{
    background-color: rgb(14, 2, 32);
    margin-top: 0px;
    width: auto;
    margin-bottom: 0px;
    padding: 18px;
    text-align: center;
}
li{
    display: inline-block;
    padding: 16px;
    color:white;
    cursor: pointer;
}
.footer{
    height:auto;
    width:80%;
    justify-content: center;
    margin-left:10%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 4px;
    margin-top: 5%;
    background-color:crimson;
    color:#ffffff;
    text-align: left;
    font-size:17px;
}
#spa{
    
    height: auto;
    width:95%;
    line-height: 1.3em;
    text-align: justify;
    font-size: 18px;
    margin-top:12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:2%;
    display: block;
    left:20px auto;
    text-align: left;
    align-self: center;
    position: relative;
}
#about{
    height: 150px;
    width:500px;
    font-size: 25px;
    margin-left:20px;
}
hr{
    width:100%;
    color:white;
    margin-bottom:12px;
    height: 4px;
    background-color:white;
    float: left;
}
a{
    text-decoration: none;
    color:inherit;
    outline-style: none;
}
#menu li:hover{
    border-bottom:1px solid green;
}
a:hover{
    color:coral;
}
a:active{
    color:red;
}
.container{
    height: 90px;
    width: 90%;
    margin-top:12px;
    color:#000;
    background-color: white;
}
#duration{
    margin-left:33px;
}
#title{
    margin-left: 12px;
}
#spa:nth-child(2){
    border-bottom:2px solid white;
}
#sep{
    height: 1px;
}
#down{
    padding:5px;
    width:140px;
    font-size: 17px;
    float: right;
    background-color: white;
    color:crimson;
    position: relative;
    top:90px;
    border-radius: 3px;
    border:0px;
}
@media screen and (max-width:907px){
    #down{
        position:static;
    }
}